#username {
    color: orange;
    font-weight: bold;
}




/*Dashboard*/
.image-size {
    height: 100px;
    width: 50%;
    ;
}

.image-user {
    width: 35px;
    height: 35px;
}

.menu-item {
    font-weight: bold;
    color: #636363;
    border: 1px solid #636363;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #dadada;
    cursor: pointer;
}

#dashboard {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/*Rides*/
#rides {
    border-right: 0px solid;
    border-left: 0px solid;
}

#settings {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.labelsRides {
    width: 600px;
}

.labelName {

    width: 100px;
}

.endRides {
    margin-left: 500px;
}

.labelsDescription {
    width: 200px;
    height: 100px;
}

.startFromlabel {

    width: 300px;
    margin-right: 10px;
}

.settings {
    width: 50%;
    max-width: 600px;
    margin: 0 auto;
}

.edit textarea {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    border-color: black;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.save {
    background-color: rgb(38, 188, 38);
    color: white;
    font-weight: bold;
    padding: 3px 20px;
    /*Curvas en los botones  */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;


}

.active {
    background-color: white;
}


/*Settings*/
.info .form-label:nth-child(3) {
    font-size: 18px;
}




.description {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}


.description textarea {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    resize: none;
    border-color: black;
    margin-left: -4%;
}

.description.buttons {
    justify-content: space-between;
}

.description .save {
    margin-left: 28%;
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    top: 10px;
}

.description h3 {
    margin-left: -5%;
}

.cancel {
    position: relative;
    top: 100;
}